body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.reset-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-form-box {
    display: flex;
    width: 900px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.reset-form-image {
    flex: 1;
    background-image: url('{% static "images/reset_form.jpg" %}');
    background-size: cover;
    background-position: center;
}

.reset-form {
    flex: 1;
    padding: 2rem;
}

.reset-form h2 {
    font-weight: bold;
}

.reset-form p {
    color: #6c757d;
    font-size: 1rem;
}

.btn-custom {
    background-color: #212529;
    color: white;
    font-weight: bold;
}

.form-control {
    border-radius: 20px;
}

.form-link {
    color: #007bff;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}

/* Custom styles for the user icon */
.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #f0f0f0; 
    color: #333; 
    font-size: 20px; 
}

.icon-circle i {
    margin: 0;
}
