{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset_request.css' %}">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('{% static "images/background-login.jpg" %}');
            background-size: cover;
            background-position: center;
        }
        .reset-password-image {
            flex: 1;
            background-image: url('{% static "images/hero.jpg" %}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block hero_section %}{% endblock %}

{% block content %}
    <div class="container-fluid reset-password-container">
        <div class="reset-password-box">
            <div class="reset-password-image d-none d-md-flex"></div>
            <div class="reset-password-form">
                <h2>Reset Password</h2>
                <p>Enter your email to receive a password reset code</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input style="border-radius: 20px;" type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-custom w-100">SEND CODE</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
