{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset_form.css' %}">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('{% static "images/background-login.jpg" %}');
            background-size: cover;
            background-position: center;
        }
        .reset-form-image {
            flex: 1;
            background-image: url('{% static "images/hero.jpg" %}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block hero_section %}{% endblock %}

{% block content %}
    <div class="container-fluid reset-form-container">
        <div class="reset-form-box">
            <div class="reset-form-image d-none d-md-flex"></div>
            <div class="reset-form">
                <h2>Reset Your Password</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">New Password</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirm New Password</label>
                        {{ form.new_password2 }}
                    </div>
                    <button type="submit" class="btn btn-custom w-100">RESET PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
