{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_verify.css' %}">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('{% static "images/background-login.jpg" %}');
            background-size: cover;
            background-position: center;
        }
        .verify-code-image {
            flex: 1;
            background-image: url('{% static "images/hero.jpg" %}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block hero_section %}{% endblock %}

{% block content %}
    <div class="container-fluid verify-code-container">
        <div class="verify-code-box">
            <div class="verify-code-image d-none d-md-flex"></div>
            <div class="verify-code-form">
                <h2>Verify Code</h2>
                <p>Please enter the verification code sent to your email.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="code" class="form-label">Verification Code</label>
                        <input style="border-radius: 20px;" type="text" class="form-control" id="code" name="code" placeholder="Enter Code" required>
                    </div>
                    <button type="submit" class="btn btn-custom w-100">VERIFY</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
