/* General styling */
body {
    font-family: 'Arial', sans-serif;
}

/* Scroll animations */
@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scroll-left {
    opacity: 0;
    animation: slide-in-left 1s forwards;
}

.scroll-right {
    opacity: 0;
    animation: slide-in-right 1s forwards;
}

/* Adjust animations for mobile */
@media (max-width: 768px) {
    .scroll-left,
    .scroll-right {
        animation-duration: 1.5s;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-link {
    font-size: 1rem;
    margin-right: 10px;
}

.navbar-toggler {
    border-color: #333;
}

/* Hero Section */
.hero-img {
    max-width: 80%;
    height: auto;
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Adds smooth transition for hover effects */
}

.hero-img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.modern-img {
    object-fit: cover; /* Ensures the image fits the container without distortion */
    border-radius: 15px; /* Additional modern touch */
}

.btn-dark {
    background-color: #111928;
    border-color: #111928;
    border-radius: 50px;
    font-size: medium;
}

/* Footer styling */
footer {
    background-color: #111928;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons a {
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #233876;
}


