{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Smart Lawyer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.csss' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">


    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

    {% block seo %}
    <meta name="description" content="{% trans "Smart Lawyer offre une assistance juridique alimentée par l'IA, dédiée aux avocats égyptiens pour améliorer l'efficacité et les résultats des cas juridiques." %}">
    <meta name="keywords" content="{% trans "Smart Lawyer, assistance juridique, intelligence artificielle, avocats égyptiens, plateforme juridique, analyse des cas, solutions légales innovantes" %}">
    <meta property="og:title" content="{% trans "Smart Lawyer - Assistance juridique intelligente pour avocats égyptiens" %}">
    <meta property="og:description" content="{% trans "Smart Lawyer offre une assistance juridique alimentée par l'IA, dédiée aux avocats égyptiens pour améliorer l'efficacité et les résultats des cas juridiques." %}">
    <meta property="og:image" content="{% static 'images/smart-lawyer-logo.png' %}">
    <meta property="og:type" content="{% trans "website" %}">
    {% endblock %}

    <link rel="icon" href="{% static 'img/hero-img.png' %}" type="image/svg+xml">
    
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <h1 class="text-white">Smart<span class="text-dark">.</span>Lawyer</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{% url 'home' %}" class="nav-item nav-link active">{% trans "Home" %}</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">{% trans "About" %}</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans "Pages" %}</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="{% url 'feature' %}" class="dropdown-item">{% trans "Features" %}</a>
                                <a href="{% url 'service' %}" class="dropdown-item">{% trans "Services" %}</a>
                                <a href="{% url 'team' %}" class="dropdown-item">{% trans "Our Team" %}</a>
                                <a href="{% url 'faq' %}" class="dropdown-item">{% trans "FAQs" %}</a>
                            </div>
                        </div>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">{% trans "Contact" %}</a>
                        <li class="nav-item dropdown ml-3">
                            <a href="#" class="nav-link dropdown-toggle" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% if LANGUAGE_CODE == 'fr' %}
                                    <i class="flag-icon flag-icon-fr"></i>
                                {% elif LANGUAGE_CODE == 'ar' %}
                                    <i class="flag-icon flag-icon-ma"></i>
                                {% else %}
                                    <i class="flag-icon flag-icon-gb"></i>
                                {% endif %}
                                {% trans "Language" %}
                            </a>
                            <div class="dropdown-menu bg-light mt-2" aria-labelledby="languageDropdown">
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.path }}">
                                    <button class="dropdown-item" type="submit" name="language" value="en">
                                        <i class="flag-icon flag-icon-gb"></i> {% trans "English" %}
                                    </button>
                                    <button class="dropdown-item" type="submit" name="language" value="fr">
                                        <i class="flag-icon flag-icon-fr"></i> {% trans "French" %}
                                    </button>
                                    <button class="dropdown-item" type="submit" name="language" value="ar">
                                        <i class="flag-icon flag-icon-ma"></i> {% trans "Arabic" %}
                                    </button>
                                </form>
                            </div>
                        </li>                        
                        {% if user.is_authenticated %}
                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'profile' %}" class="nav-link d-flex align-items-center">
                                    {% if user.profile.image %}
                                        <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="rounded-circle" style="width: 32px; height: 32px;">
                                    {% else %}
                                        <span class="icon-circle">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    {% endif %}
                                    <span class="ms-2">{{ user.username }}</span>
                                </a>
                            </li>                      
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="#modal" id="modal_trigger">{% trans "Login" %}</a>
                            </li>
                        {% endif %}
                    </div>
                    <button type="button" class="btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
                </div>
            </nav>
        </div>
    </div>
    
    <!-- Navbar End -->


    <!-- POP UP start -->
        <div id="modal" class="popupContainer" style="display:none;">
            <div class="popupHeader">
            <span class="header_title">{% trans "Login" %}</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
            </div>
        
            <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
                <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">{% trans "Connect with Facebook" %}</span>
                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">{% trans "Connect with Google" %}</span>
                </a>
                </div>

                <div class="centeredText">
                <span>{% trans "Or use your Email address" %}</span>
                </div>

                <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">{% trans "Login" %}</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">{% trans "Sign up" %}</a></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">{% trans "Username" %}</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                        {% if form.username.errors %}
                            <div class="text-danger">{{ form.username.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{% trans "Password" %}</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                        {% if form.password.errors %}
                            <div class="text-danger">{{ form.password.errors.0 }}</div>
                        {% endif %}
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <div class="action_btns">
                        <div class="one_half">
                            <a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> {% trans "Back" %}</a>
                        </div>
                        <div class="one_half last">
                            <button type="submit" id="login_red" class="btn btn_red">{% trans "Login" %}</button>
                        </div>
                    </div>       
                </form>
                <a href="{% url 'password_reset' %}" class="forgot_password">{% trans "Forgot password?" %}</a>
            </div>
            
            <!-- Register Form -->
            <div class="user_register">
            <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                    {% if user_form.username.errors %}
                        <div class="text-danger">{{ user_form.username.errors.0 }}</div>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">{% trans "Email" %}</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    {% if user_form.email.errors %}
                        <div class="text-danger">{{ user_form.email.errors.0 }}</div>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="password1" class="form-label">{% trans "Password" %}</label>
                    <input type="password" name="password1" id="password1" class="form-control" required>
                    {% if user_form.password1.errors %}
                        <div class="text-danger">{{ user_form.password1.errors.0 }}</div>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="password2" class="form-label">{% trans "Confirm Password" %}</label>
                    <input type="password" name="password2" id="password2" class="form-control" required>
                    {% if user_form.password2.errors %}
                        <div class="text-danger">{{ user_form.password2.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" name="send_updates">
                    <label for="send_updates">{% trans "Send me occasional email updates" %}</label>
                </div>

                <div class="action_btns">
                    <div class="one_half" id="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> {% trans "Back" %}</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red" id="register_red">{% trans "Register" %}</button></div>
                </div>
            </form>
            </div>
            
        </section>
        </div>
    <!-- POP UP end -->

      

    {% block hero_section %}
        <!-- Hero Start -->
        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container pt-5">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">{% trans "Smart.Lawyer" %}</div>
                        <h1 class="display-4 text-white mb-4 animated slideInRight">{% trans "AI-powered legal assistance" %}</h1>
                        <p class="text-white mb-4 animated slideInRight">{% trans "Discover the first AI-powered personalized legal platform tailored for your professional needs." %}</p>
                        <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">{% trans "Read More" %}</a>
                        <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">{% trans "Contact Us" %}</a>
                    </div>
                    <div class="col-lg-6 align-self-end text-center text-lg-end">
                        <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>        
        <!-- Hero End -->
    {% endblock %}

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans 'Close' %}"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="{% trans 'Type search keyword' %}">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Full Screen Search End -->


    <!-- Contenu principal -->
    <main role="main">
        {% block content %}

        {% endblock %}
    </main>

    <!-- Newsletter Start -->
    <div class="container-fluid bg-primary newsletter py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-5 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid" src="{% static 'img/newsletter.png' %}" alt="">
                </div>
                <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">{% trans "Newsletter" %}</div>
                    <h1 class="text-white mb-4">{% trans "Stay updated with the latest news, tips, and offers" %}</h1>
                    <div class="position-relative w-100 mt-3 mb-2">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                            placeholder="{% trans 'Enter Your Email' %}" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2">
                            <i class="fa fa-paper-plane text-primary fs-4"></i>
                        </button>
                    </div>
                    <small class="text-white-50">{% trans "We respect your privacy. Your email address will not be shared." %}</small>
                </div>
            </div>
        </div>
    </div>    
    <!-- Newsletter End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <a href="{% url 'home' %}" class="d-inline-block mb-3">
                        <h1 class="text-white">Smart<span class="text-primary">.</span>Lawyer</h1>
                    </a>
                    <p class="mb-0">{% trans "Your AI-Powered Legal Assistant" %}</p>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">{% trans "Get In Touch" %}</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>{% trans "Egypt" %}</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+201095504278</p>
                    <p><i class="fa fa-envelope me-3"></i>smartlawyer@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">{% trans "Popular Link" %}</h5>
                    <a class="btn btn-link" href="{% url 'about' %}">{% trans "About Us" %}</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">{% trans "Contact Us" %}</a>
                    <a class="btn btn-link" href="">{% trans "Privacy Policy" %}</a>
                    <a class="btn btn-link" href="">{% trans "Terms & Condition" %}</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="{% url 'home' %}">Smart.Lawyer</a>, {% trans "All Right Reserved." %}
    
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        {% comment %} Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a> {% endcomment %}
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="{% url 'home' %}">{% trans "Home" %}</a>
                            <a href="">{% trans "Cookies" %}</a>
                            <a href="">{% trans "Help" %}</a>
                            <a href="{% url 'faq' %}">{% trans "FAQs" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'jlib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'vendor/jquery/jquery.min.j' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
